<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Définit l'encodage des caractères en UTF-8 -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- Active le mode de compatibilité pour les dernières versions d'Internet Explorer -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Permet d'adapter la mise en page aux appareils mobiles -->
    <meta content="Portfolio de Kévin - Découvrez mes projets, mon expérience et mes compétences en développement web."
          name="description">
    <!-- Fournit une description concise pour les moteurs de recherche -->
    <meta content="portfolio, développement, web, projets, CV" name="keywords">
    <!-- Définit des mots-clés pour le référencement -->
    <meta content="Kévin" name="author"> <!-- Indique l'auteur du document -->
    <meta content="index, follow" name="robots"> <!-- Autorise les robots à indexer la page et suivre les liens -->

    <!-- Balises Open Graph pour le partage sur les réseaux sociaux -->
    <meta content="portefollio de Kévin" property="og:title">
    <!-- Titre affiché lors du partage sur les réseaux sociaux -->
    <meta content="Portfolio de Kévin - Découvrez mes projets et expériences en développement web."
          property="og:description">
    <!-- Description affichée lors du partage sur les réseaux sociaux -->
    <meta content="website" property="og:type"> <!-- Indique le type de contenu (site web) pour le partage social -->
    <meta content="http://yourdomain.com" property="og:url"> <!-- URL canonique de la page pour les réseaux sociaux -->
    <meta content="http://yourdomain.com/asset/img/Logo.JPG" property="og:image">
    <!-- Image affichée lors du partage sur les réseaux sociaux -->

    <!-- Balises Twitter Card pour le partage sur Twitter -->
    <meta content="summary_large_image" name="twitter:card"> <!-- Type de carte Twitter utilisé (grande image) -->
    <meta content="portefollio de Kévin" name="twitter:title"> <!-- Titre affiché dans la carte Twitter -->
    <meta content="Portfolio de Kévin - Découvrez mes projets et expériences en développement web."
          name="twitter:description">
    <!-- Description affichée dans la carte Twitter -->
    <meta content="http://yourdomain.com/asset/img/Logo.JPG" name="twitter:image">
    <!-- Image affichée dans la carte Twitter -->

    <link href="/asset/css/style.css" rel="stylesheet"> <!-- Lien vers la feuille de style CSS du site -->
    <link href="/src/asset/img/Logo.JPG" rel="icon" type="image/x-icon"> <!-- Lien vers l'icône du site (favicon) -->
    <title>portefollio de Kévin</title> <!-- Titre de la page affiché dans l'onglet du navigateur -->
</head>
<body>

<footer id="footer">
    <!-- Section des icônes -->
    <section id="icons">
        <div class="footer-icons">
            <a href="https://facebook.com" target="_blank">
                <svg color="#fff" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.675 0H1.325C0.59375 0 0 0.59375 0 1.325V22.675C0 23.40625 0.59375 24 1.325 24H12.82V14.706H9.692V11.09H12.82V8.412C12.82 5.343 14.67 3.69 17.387 3.69C18.674 3.69 19.919 3.789 20.189 3.833V6.975H18.315C16.847 6.975 16.558 7.776 16.558 8.842V11.09H20.051L19.541 14.706H16.558V24H22.675C23.40625 24 24 23.40625 24 22.675V1.325C24 0.59375 23.40625 0 22.675 0Z"/>
                </svg>
            </a>
            <a href="https://twitter.com" target="_blank">
                <svg color="#fff" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.46 6c-.77.35-1.5.58-2.28.69a4.1 4.1 0 001.8-2.27 8.14 8.14 0 01-2.6.99 4.1 4.1 0 00-7 3.74 11.65 11.65 0 01-8.45-4.3 4.1 4.1 0 001.27 5.47 4.09 4.09 0 01-1.86-.51v.05a4.1 4.1 0 003.29 4 4.1 4.1 0 01-1.85.07 4.1 4.1 0 003.83 2.85 8.23 8.23 0 01-5.1 1.76A8.47 8.47 0 012 18.45a11.62 11.62 0 006.29 1.84c7.55 0 11.68-6.26 11.68-11.68l-.01-.53A8.36 8.36 0 0024 4.59a8.11 8.11 0 01-2.34.64 4.1 4.1 0 001.8-2.27z"/>
                </svg>
            </a>
            <a href="https://github.com" target="_blank">
                <svg color="#fff" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 .3a12 12 0 00-3.8 23.4c.6.1.8-.3.8-.6v-2.1c-3.4.7-4.1-1.6-4.1-1.6a3.2 3.2 0 00-1.3-1.8c-1.1-.8.1-.8.1-.8a2.5 2.5 0 011.8 1.2 2.5 2.5 0 003.4 1 2.5 2.5 0 01.8-1.6c-2.7-.3-5.5-1.3-5.5-5.9A4.6 4.6 0 016.1 8.4a4.3 4.3 0 01.1-3.1s1-.3 3.2 1.2a11 11 0 015.8 0c2.2-1.5 3.2-1.2 3.2-1.2a4.3 4.3 0 01.1 3.1 4.6 4.6 0 012.5 3.2c0 4.6-2.8 5.6-5.5 5.9a2.8 2.8 0 01.8 2.2v3.3c0 .3.2.7.8.6A12 12 0 0012 .3z"/>
                </svg>
            </a>
            <a href="https://youtube.com" target="_blank">
                <svg color="#fff" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.498 6.186c-.27-1.01-1.06-1.81-2.07-2.08C19.76 3.6 12 3.6 12 3.6s-7.76 0-9.428.51c-1.01.27-1.8 1.07-2.07 2.08C0 7.88 0 9.666 0 9.666s0 1.78.505 3.48c.27 1.01 1.06 1.81 2.07 2.08 1.67.51 9.428.51 9.428.51s7.76 0 9.428-.51c1.01-.27 1.8-1.07 2.07-2.08.504-1.7.505-3.48.505-3.48s0-1.786-.504-3.48zM9.545 13.81V6.47l7.181 3.67-7.181 3.67z"/>
                </svg>
            </a>
            <a href="https://twitch.tv" target="_blank">
                <svg color="#fff" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.8 2L2 6.31v11.38h4.8v3.31h3.2l3.2-3.31h4.8l4-4.44V2zM17.6 13.2h-3.2v3.2h-3.2v-3.2H7.2V4h10.4v9.2zM12 8h-1.6v1.6H12V8zm3.2 0h-1.6v1.6h1.6V8z"/>
                </svg>
            </a>
            <a href="https://linkedin.com" target="_blank">
                <svg color="#fff" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.98 3.5C4.98 4.88 3.87 6 2.5 6S0 4.88 0 3.5 1.11 1 2.5 1 4.98 2.12 4.98 3.5zM0 8h5v16H0V8zm7 0h4.8v2.2h.07c.67-1.27 2.3-2.6 4.73-2.6 5.06 0 6 3.33 6 7.66V24h-5V15.32c0-2.07-.04-4.73-2.88-4.73-2.88 0-3.32 2.25-3.32 4.56V24H7V8z"/>
                </svg>
            </a>
        </div>
    </section>
    <!-- Section de &copy; -->
    <section id="copy">
        <div>
            <p>&copy; 2025 - Portfolio - Tous droits réservés</p>
        </div>
    </section>
</footer>


<script src="/src/asset/js/main.js"></script> <!-- Lien vers le fichier JavaScript principal -->
</body>
</html>