<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Définit l'encodage des caractères en UTF-8 -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- Active le mode de compatibilité pour les dernières versions d'Internet Explorer -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Permet d'adapter la mise en page aux appareils mobiles -->
    <meta content="Portfolio de Kévin - Découvrez mes projets, mon expérience et mes compétences en développement web."
          name="description">
    <!-- Fournit une description concise pour les moteurs de recherche -->
    <meta content="portfolio, développement, web, projets, CV" name="keywords">
    <!-- Définit des mots-clés pour le référencement -->
    <meta content="Kévin" name="author"> <!-- Indique l'auteur du document -->
    <meta content="index, follow" name="robots"> <!-- Autorise les robots à indexer la page et suivre les liens -->

    <!-- Balises Open Graph pour le partage sur les réseaux sociaux -->
    <meta content="portefollio de Kévin" property="og:title">
    <!-- Titre affiché lors du partage sur les réseaux sociaux -->
    <meta content="Portfolio de Kévin - Découvrez mes projets et expériences en développement web."
          property="og:description">
    <!-- Description affichée lors du partage sur les réseaux sociaux -->
    <meta content="website" property="og:type"> <!-- Indique le type de contenu (site web) pour le partage social -->
    <meta content="http://yourdomain.com" property="og:url"> <!-- URL canonique de la page pour les réseaux sociaux -->
    <meta content="http://yourdomain.com/asset/img/Logo.JPG" property="og:image">
    <!-- Image affichée lors du partage sur les réseaux sociaux -->

    <!-- Balises Twitter Card pour le partage sur Twitter -->
    <meta content="summary_large_image" name="twitter:card"> <!-- Type de carte Twitter utilisé (grande image) -->
    <meta content="portefollio de Kévin" name="twitter:title"> <!-- Titre affiché dans la carte Twitter -->
    <meta content="Portfolio de Kévin - Découvrez mes projets et expériences en développement web."
          name="twitter:description">
    <!-- Description affichée dans la carte Twitter -->
    <meta content="http://yourdomain.com/asset/img/Logo.JPG" name="twitter:image">
    <!-- Image affichée dans la carte Twitter -->

    <link href="/src/asset/css/style.css" rel="stylesheet"> <!-- Lien vers la feuille de style CSS du site -->
    <link href="/src/asset/img/logo.JPG" rel="icon" type="image/x-icon"> <!-- Lien vers l'icône du site (favicon) -->
    <title>portefollio de Kévin</title> <!-- Titre de la page affiché dans l'onglet du navigateur -->
</head>
<body>

<header id="header">
    <!-- Navigation principale -->
    <!--IMPORT NAV BAR ICI -->
    <!-- Fin Navigation principale -->
</header>


<script src="/src/asset/js/main.js"></script> <!-- Lien vers le fichier JavaScript principal -->
</body>
</html>