form button {

}

form button:hover {

}

.todo-item-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 25%;
    margin-right: 25%;
    List-style-type: none;
}

.todo-item-container li{
    flex: 1;
}

.todo-item-container button {
    background: #39ff14;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}


.todo-item-container .delete:hover {
    background: #ff073a;
    color:#e0e0e0;
}

.todo-item-container .checkbox:hover {
    background: #2ecc71;
}